body > header {
    @include clearfix;
    margin: 1em 10% 0em 10%;
    padding-bottom: 1em;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        li {
            @include inline-middle;
            padding: 0;
            margin-left: -.3em;
            &:after {
                @include inline-middle;
                content: '\272A';
                margin: 0 .4em;
                font-size: .7em;
                color: #C2C2C2;
                opacity: 0.5;
            } // &:after
            &:nth-child(1) {
                margin-left: 0em;
            }
            &:nth-last-child(1) {
                &:after {
                    content: none;
                } // &:after
            } // &:nth-last-child(1)
            h1 {
                display: inline;
                font-size: 1em;
                margin: 0;
            }
            a {
                font-size: .8em;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
            } // a
        } // li
    } // ul
} // body > header
