body > header {
    @include clearfix;
    margin: 1em 10% 0em 10%;
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid rgba(117, 117, 117, 0.4);
    &.in-post {
        position: absolute;
        z-index: 4;
        box-sizing: border-box;
        width: 100%;
        border-bottom: none;
        padding: 1em 10%;
        margin: 0;
        a {
            color: #fff;
        }
        .title {
            h2 {
                a {
                    color: #fff;
                } // a
            } // h2
        } // title
    } // in-post
    .portrait {
        width: 100px;
        margin: auto;
        box-sizing: border-box;
        a {
            display: inline-block;
            padding: 6px;
            img {
                max-width: 100%;
                border-radius: 100%;
                border: 3px solid white;
                // margin: 3px;
            } // img
        } // a
    } // portrait
    .title {
        width: 100%;
        @include bp(md) {
            // width: calc(100% - 120px);
            // width: auto;
            @include inline-middle;
        } // md
        @include bp(lg) {
            // width: calc(100% - 120px);
            // width: auto;
            @include inline-middle;
        } // lg
        h2 {
            font-size: 1.4em;
            margin-top: 0;
            margin-bottom: 0;
            position: relative;
            a {
                color: $text-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                } // &:hover
            } // a
        } // h2
        h3 {
            font-size: 1em;
            margin-top: 0;
            margin-bottom: 0;
        } // h3
        ul {
            margin: 0;
            padding: 0;
            li {
                @include inline-middle;
                padding: 0;
                margin-left: -.3em;
                &:after {
                    @include inline-middle;
                    content: '\272A';
                    margin: 0 .4em;
                    font-size: .7em;
                    color: #C2C2C2;
                } // &:after
                &:nth-child(1) {
                    margin-left: 0em;
                }
                &:nth-last-child(1) {
                    &:after {
                        content: none;
                    } // &:after
                } // &:nth-last-child(1)
                a {
                    font-size: .8em;
                } // a
            } // li
        } // ul
    } // title
} // body > header

.menu-bars {
    position: fixed;
    right: 2%;
    top: 1.2em;
    z-index: 300;
    text-rendering: auto;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border-radius: 100%;
    box-sizing: border-box;
    padding: 0.4em 0 0 0;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    background: rgba(255, 255, 255, 0.51);
    line-height: 1.2;
    font-size: 1em;
    
    color: #000;
    text-decoration: none;

    &:after {
        content: '\f0c9';
    } // &:after
    @include bp(xs) {
        right: 2%;
    }
    @include bp(sm) {
        right: 2%;
    }
    @include bp(md) {
        right: 5%;
    }
    @include bp(lg) {
        right: 5%;
    }
} // menu-bars

.home {
    position: fixed;
    left: 2%;
    top: 1.2em;
    z-index: 300;
    text-rendering: auto;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border-radius: 100%;
    box-sizing: border-box;
    padding: 0.4em 0 0 0;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    background: rgba(255, 255, 255, 0.51);
    line-height: 1.2;
    font-size: 1em;

    color: #000;
    text-decoration: none;

    &:after {
        content: '\f015';
    } // &:after
    @include bp(xs) {
        left: 2%;
    }
    @include bp(sm) {
        left: 2%;
    }
    @include bp(md) {
        left: 5%;
    }
    @include bp(lg) {
        left: 5%;
    }
} // home
