.post {
    box-sizing: border-box;
    margin: 0 10% 0 10%;
    padding: 1.2em;
    background: rgba(255, 255, 255, 1);
    border-radius: .2em;
    border-bottom: 1px solid rgba(117, 117, 117, 0.4);
    header {
        text-align: center;
        h1 {
            font-size: 1.4em;
            margin: 0;
            a {
                color: $text-color;
                text-decoration: none;
                &:hover {
                    color: $link-color;
                    text-decoration: underline;
                    background: none;
                } // &:hover
            } // a
        } // h1
    } // header
    article {
        h2, h3, h4, h5 {
            color: #358340;
            text-align: center;
        } // h2, h3, h4, h5
        table {
            width: 100%;
            margin: auto;
            margin-bottom: 1em;
            tr {
                th {
                    font-weight: 700;
                } // th
                th, td {
                    text-align: center;
                    vertical-align: middle;
                    padding: .2em;
                    margin: 0;
                    background: #ecf0f1;
                } // th, td
                &:hover {
                    td {
                        background: #d5d5d5;
                    } // td
                } // &:hover
            } // tr
        } // table
        blockquote {
            margin-left: 0;
            margin-right: 0;
            padding: .3em 2em;
            background: #ecf0f1;
            border-bottom: 1px solid rgba(63, 11, 11, .1);
            border-top: 1px solid rgba(63, 11, 11, .1);
        } // blockquote
        figure {
            margin-left: 0;
            margin-right: 0;
            figcaption {
                margin-top: 1em;
            } // figcaption
        } // figure
        .if {
            margin-bottom: 1em;
        } // if
        .mediadesc {
            text-align: center;
            font-style: italic;
            margin-top: 0;
        }
        p {
            img {
                margin: 0 auto;
            } // img
        } // p
    } // article
    footer {
        .social {
            margin-bottom: 1em;
            text-align: center;
        } // social
    } // footer
} // post
