@keyframes ScrollDown {
  0% {
    opacity: .2;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: .2;
  }
}
body {
  font-size: 1.125rem;
  line-height: 150%;
  background: #fff;
  font-family: Georgia, serif;
  position: relative;
  color: #303030;
  padding: 0;
  margin: 0;
}
body.open-menu {
  overflow: hidden;
}
@media (min-width: 992px) {
  body {
    font-size: 1.375rem;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.375rem;
  }
}

img {
  display: block;
  max-width: 100%;
  vertical-align: top;
}

a {
  color: #3498db;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  line-height: 1;
}

.meta {
  font-size: .7em;
  font-style: italic;
  color: #808080;
}
.meta a {
  color: inherit;
}

.if {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.if video,
.if iframe,
.if object,
.if embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tweet {
  margin: 1em 0;
}
.tweet iframe {
  margin: auto !important;
}

.instagram {
  text-align: center;
}
.instagram iframe {
  max-width: 100%;
  display: inline-block !important;
  margin: 0 0 40px 0;
}

.social-likes__widget {
  background: #e3e8ec;
  border-radius: 3px;
}

.social-likes__button {
  color: #454545;
}

.social-likes__counter {
  color: #454545;
}

ul.social {
  padding: 0;
  text-align: center;
}
ul.social li {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em;
}
ul.social li:nth-last-child(1) {
  margin-right: 0;
}
ul.social li:after {
  content: none;
}
ul.social li a.icon {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 1.4em;
  height: 1.4em;
  line-height: 1;
  padding: .2em;
  color: #a3a3a3;
  text-shadow: 1px 1px 2px #fff;
  border-radius: 100%;
}
ul.social li a.icon:hover {
  color: black;
}

.menu-bars {
  position: fixed;
  right: 2%;
  top: 1.2em;
  z-index: 300;
  text-rendering: auto;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0.4em 0 0 0;
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  background: white;
  line-height: 1.2;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.menu-bars:after {
  content: '\f0c9';
}
.menu-bars.active {
  background: #2980b9;
}
.menu-bars.active:after {
  color: #fff;
}
@media (min-width: 480px) {
  .menu-bars {
    right: 2%;
  }
}
@media (min-width: 768px) {
  .menu-bars {
    right: 2%;
  }
}
@media (min-width: 992px) {
  .menu-bars {
    right: 5%;
  }
}
@media (min-width: 1200px) {
  .menu-bars {
    right: 5%;
  }
}

.home {
  position: fixed;
  left: 2%;
  top: 1.2em;
  z-index: 300;
  text-rendering: auto;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0.4em 0 0 0;
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  background: white;
  line-height: 1.2;
  font-size: 1em;
  color: #000;
  text-decoration: none;
}
.home:after {
  content: '\f015';
}
@media (min-width: 480px) {
  .home {
    left: 2%;
  }
}
@media (min-width: 768px) {
  .home {
    left: 2%;
  }
}
@media (min-width: 992px) {
  .home {
    left: 5%;
  }
}
@media (min-width: 1200px) {
  .home {
    left: 5%;
  }
}

body > footer {
  margin: 1em 20% 1em 20%;
  text-align: center;
}
body > footer .copyrights {
  font-size: .7em;
  font-style: italic;
}
body > footer .copyrights:before {
  content: "\00a9";
  margin-right: .5em;
}

.main-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  z-index: 999;
  top: 0px;
  left: 0px;
  background: white;
  display: none;
  z-index: 200;
  color: #fff;
  text-align: center;
}
.main-menu .menu-in-wrapper {
  table-layout: fixed;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.main-menu .menu-in-wrapper .menu-in {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  height: 100vh;
  vertical-align: middle;
  overflow-y: scroll;
}
.main-menu.active {
  display: block;
}
.main-menu ul {
  margin: 0;
  padding: 0;
}
.main-menu ul li {
  list-style: none;
}
.main-menu ul li + li {
  margin-top: 1.5em;
}
.main-menu ul li a {
  display: block;
  color: #3498db;
  text-decoration: none;
  font-size: 1.5em;
  padding: .4em .6em;
}
.main-menu ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.posts-list {
  margin: 0 20% 2em 20%;
  background: #fff;
  border-radius: .4em;
  text-align: center;
}
.posts-list h3 {
  padding-top: .5em;
  margin-bottom: 0;
}
.posts-list ul {
  padding: 0;
  margin-top: .5em;
}
.posts-list ul li {
  box-sizing: border-box;
  padding: .2em .1em;
  list-style: none;
}
.posts-list ul li:nth-last-child(1) {
  border-bottom: none;
}
.posts-list ul li .date {
  color: #9B9B9B;
}
.posts-list ul li .tags {
  font-size: .6em;
}
.posts-list ul li h1 {
  font-size: 1em;
  margin: 0;
  margin-top: .3em;
}
.posts-list ul li h1 a {
  text-decoration: none;
}

.post-poster {
  position: relative;
  background-size: cover !important;
  background-position: center center !important;
  width: 100%;
  height: 65vh;
  min-height: 180px;
  max-height: auto;
  display: table;
}
.post-poster.in-feed {
  display: block;
  height: 65vh;
}
.post-poster .poster-content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.post-poster .poster-content header {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1em .5em;
  box-sizing: border-box;
}
.post-poster .poster-content header h1 {
  font-size: 1.4em;
  margin: 0;
}
.post-poster .poster-content header h1 a {
  color: #fff;
  text-decoration: none;
}
.post-poster .poster-content header h1 a:hover {
  color: #fff;
  text-decoration: underline;
  background: none;
}
@media (min-width: 992px) {
  .post-poster .poster-content header h1 {
    font-size: 1.8em;
  }
}
@media (min-width: 1200px) {
  .post-poster .poster-content header h1 {
    font-size: 1.8em;
  }
}
.post-poster .poster-content header .meta {
  color: #fff;
}
.post-poster .poster-content header .meta a {
  color: inherit;
}

.post {
  box-sizing: border-box;
  margin: 0 5% 0 5%;
  padding: 1.2em;
}
.post.with-poster {
  padding-top: 0;
}
@media (min-width: 480px) {
  .post {
    margin: 0 5% 0 5%;
  }
}
@media (min-width: 768px) {
  .post {
    margin: 0 5% 0 5%;
  }
}
@media (min-width: 992px) {
  .post {
    margin: 0 10% 0 10%;
  }
}
@media (min-width: 1200px) {
  .post {
    margin: 0 10% 0 10%;
  }
}
.post .post-add {
  text-align: center;
  margin: 1em 0;
}
.post .post-add.post-add-desktop {
  display: none;
}
@media (min-width: 480px) {
  .post .post-add.post-add-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .post .post-add.post-add-desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .post .post-add.post-add-desktop {
    display: block;
  }
}
@media (min-width: 1200px) {
  .post .post-add.post-add-desktop {
    display: block;
  }
}
.post .post-add.post-add-mobile {
  display: block;
}
@media (min-width: 480px) {
  .post .post-add.post-add-mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  .post .post-add.post-add-mobile {
    display: block;
  }
}
@media (min-width: 992px) {
  .post .post-add.post-add-mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .post .post-add.post-add-mobile {
    display: none;
  }
}
.post header {
  text-align: center;
}
.post header h1 {
  font-size: 1.4em;
  margin: 0;
}
.post header h1 a {
  color: #303030;
  text-decoration: none;
}
.post header h1 a:hover {
  color: #3498db;
  text-decoration: underline;
  background: none;
}
@media (min-width: 992px) {
  .post header h1 {
    font-size: 1.8em;
  }
}
@media (min-width: 1200px) {
  .post header h1 {
    font-size: 1.8em;
  }
}
.post article h2, .post article h3, .post article h4, .post article h5 {
  color: #358340;
  text-align: center;
}
.post article table {
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}
.post article table tr th {
  font-weight: 700;
}
.post article table tr th, .post article table tr td {
  text-align: center;
  vertical-align: middle;
  padding: .2em;
  margin: 0;
  background: #ecf0f1;
}
.post article table tr:hover td {
  background: #d5d5d5;
}
.post article blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: .3em 2em;
  background: #ecf0f1;
  border-bottom: 1px solid rgba(63, 11, 11, 0.1);
  border-top: 1px solid rgba(63, 11, 11, 0.1);
}
.post article figure {
  margin-left: 0;
  margin-right: 0;
}
.post article figure figcaption {
  margin-top: 1em;
}
.post article .if {
  margin-bottom: 1em;
}
.post article .pics-group {
  margin-bottom: 1em;
  table-layout: fixed;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.post article .pics-group .pic {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  padding: .5em;
}
.post article .pics-group .pic:nth-child(1) {
  padding-left: 0;
}
.post article .pics-group .pic:nth-last-child(1) {
  padding-right: 0;
}
.post article .mediadesc, .post article .mdesc {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}
.post article p img {
  margin: 0 auto;
}
.post footer .social {
  margin-bottom: 1em;
  text-align: center;
}

.all-posts {
  text-align: center;
}
.all-posts .all-posts-link {
  font-size: 2em;
  text-decoration: none;
  font-style: italic;
  color: #494949;
}

.pagination {
  padding: .5em 20% 0 20%;
  text-align: center;
}
.pagination ul {
  padding: 0;
  margin-bottom: 0;
}
.pagination ul li {
  display: inline-block;
  margin: 0 auto;
  width: 1.5em;
  height: 1.5em;
  background: whitesmoke;
  border-radius: .2em;
}
.pagination ul li a {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-radius: .2em;
  text-decoration: none;
}
.pagination ul li a:hover {
  background: #3498db;
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
